.container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 500px;
    max-width: 500px;
}

@media(max-width: 600px) {
    .container {
        width: 100%;
    }

    .container img {
        width: 100%;
    }
}